[submodule "deps/patterns"]
	path = deps/patterns
	url = https://github.com/mpark/patterns.git
[submodule "deps/litexx"]
	path = deps/litexx
	url = https://github.com/seanmiddleditch/litexx.git
[submodule "deps/formatxx"]
	path = deps/formatxx
	url = https://github.com/seanmiddleditch/formatxx.git
[submodule "deps/eternal"]
	path = deps/eternal
	url = https://github.com/mapbox/eternal.git
[submodule "deps/ordered-map"]
	path = deps/ordered-map
	url = https://github.com/Tessil/ordered-map.git
[submodule "deps/popl"]
	path = deps/popl
	url = git@github.com:badaix/popl.git
